<div class='px-4 hover:bg-gray-100 py-3 text-sm font-light flex'>
  {{#if (is-present @timer.title)}}
    <span class='flex-1'>
      {{@timer.title}}
    </span>
  {{else}}
    <span class='flex-1 text-gray-400'>
      No description
    </span>
  {{/if}}

  <span class='tabular-nums'>
    {{format-duration @timer.durationInSeconds}}
  </span>
</div>
