<div class='sign-in-form mx-auto mt-12 mb-24 pt-24'>
  <div class='mb-6'>
    <h2 class='text-4xl font-semibold mb-6'>
      Sign in to your account
    </h2>

    {{#if this.errorMessage}}
      <div class='mb-6 bg-yellow-100 text-yellow-600 rounded-lg py-3 px-4'>
        <FaIcon @icon='exclamation-circle' class='mr-2' />

        <span>
          {{this.errorMessage}}
        </span>
      </div>
    {{/if}}

    <form {{on 'submit' this.signIn}}>
      <div class='flex flex-col mb-4'>
        <label for='email' class='uppercase font-semibold text-xs mb-1'>
          Email
        </label>

        <Input
          @id='email'
          @type='email'
          @value={{this.email}}
          class='border-2 rounded outline-none focus:border-black text-lg px-3 py-2'
        />
      </div>

      <div class='flex flex-col mb-8'>
        <label for='password' class='uppercase font-semibold text-xs mb-1'>
          password
        </label>

        <Input
          @id='password'
          @type='password'
          @value={{this.password}}
          class='border-2 rounded outline-none focus:border-black text-lg px-3 py-2'
        />
      </div>

      <Input
        @type='submit'
        class='w-full text-lg py-3 cursor-pointer rounded font-medium bg-black text-white'
        @value='Sign in'
      />
    </form>
  </div>

  <div class='text-sm text-gray-800 text-center'>
    <span>
      Don't have an account yet?
    </span>

    <LinkTo class='underline text-primary' @route='register'>
      Sign up
    </LinkTo>
  </div>
</div>
